SqlConnectStr : server=localhost;uid=shenghai;pwd=123465;database=stock;
StockList : http://quote.eastmoney.com/stocklist.html
StockCSVHeader : StockDate,StockCode,StockName,OpenPrice,ClosePrice,HighestPrice,LowestPrice,FluctuateMount,FluctuateRate,ChangeRate,TradeVolume,TradeMount,ToatlMarketCap,CirculationMarketCap
StockItemUrl : http://quotes.money.163.com/service/chddata.html?code=%StockCode%&start=%StartDate%&end=%EndDate%&fields=TOPEN;TCLOSE;HIGH;LOW;CHG;PCHG;TURNOVER;VOTURNOVER;VATURNOVER;TCAP;MCAP
StockItemUrlEx : http://quotes.money.163.com/%StockCode%.html
ExValida : StockSide