/*.opensdf
/*.sdf
GenerateResource.write.1.tlog
/DataCollector/obj/x86/Debug/*.cache
*.pdb
*.cache
/DataCollector/bin/Debug/DataCollector.pdb
/DataCollector/bin/Debug/DataCollector.InstallLog
/DataCollector/bin/Debug/InstallUtil.InstallLog
/DataDispacher/obj/Debug
/DataDispacher/obj
/DataDispacher/bin/*.pdb
/StockCommon/obj/Debug
/StockServiceUITest/obj
StockServiceUITest.pdb
/StockServiceUITest/bin/Debug/StockService/InstallUtil.InstallLog
/StockServiceUITest/bin/Debug/StockService/DataCollector.InstallLog
/StockServiceUITest/bin/Debug/StockService/DataCollector.pdb
